.table {
  display: grid;
  justify-content: start;
}
.table__row {
  display: grid;
  text-align: center;
  height: 30px;
}
.table__row--header {
  font-weight: bold;
}
.table__cell {
  border: 1px solid #999;
  width: 200px;
}
.table__cell input {
  border: none;
  width: 200px;
  height: 26px;
}
.table__cell input:focus {
  outline: none;
}